.linki{
    font-size: 19px;

}

#search{
    margin: 10px 15px;
    font-size: 16px;
    padding: 5px 120px;
    color: black;
}
#img{
    padding: 7px;
    line-height: 1px; 
    margin-bottom: 10px;
}
#price1{
    margin-left: 155px;
    
}
#price2{
    margin-left:260px;
    
}
#price3{
    margin-left:240px;
}
#price4{
    margin-left: 240px;
}
#money1{
    margin-left:133px;
}
#money2{
    margin-left:115px;
}
#money3{
    margin-left:133px;
}
#money4{
    margin-left:133px;
}
#img1{
    padding: 7px;
    line-height: 1px; 
    margin-bottom: 10px;
}
#price5{
    margin-left: 150px;
    
}
#price6{
    margin-left:200px;
    
}
#price7{
    margin-left:230px;
}
#price8{
    margin-left: 240px;
}
#money5{
    margin-left:133px;
}
#money6{
    margin-left:115px;
}
#money7{
    margin-left:133px;
}
#money8{
    margin-left:133px;
}
#img2{
    padding: 7px;
    line-height: 1px; 
    margin-bottom: 10px;
}
#price9{
    margin-left: 150px;
    
}
#price10{
    margin-left:175px;
    
}
#price11{
    margin-left:190px;
}
#price12{
    margin-left:185px;
}
#money9{
    margin-left:130px;
}
#money10{
    margin-left:112px;
}
#money11{
    margin-left:133px;
}
#money12{
    margin-left:133px;
}


